---
---

@import "{{ site.theme }}";

pre {
    padding: 0px;
    background: none;
    border-radius: 0px;
    border: 0px;
    overflow-x: unset;
}

.main__title {
    font-size: xx-large;
}

footer {
    display: flex;
    justify-content: center;
}