<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
</head>

<body>
    <div class="wrapper">
        <header>
        <a href="/mo.ticulous/"><pre class="main__title">𝕞𝕠.𝕥𝕚𝕔𝕦𝕝𝕠𝕦𝕤</pre></a>
            <!-- <p>
                Cosmetic artist at <a href="https://aboutfacestl.as.me/Morgan" target="_blank">About Face STL</a> </br>
                Licensed tech, open books </br>
               Shoot a message</a> to make an
                appointment </br>
                </br>
                nail services</a>
                </br>
                <a href="tattoo.html">tattoo services</a>
            </p> -->
            <pre>
ᴄᴏꜱᴍᴇᴛɪᴄ ᴀʀᴛɪꜱᴛ ᴀᴛ <a href="https://aboutfacestl.as.me/Morgan" target="_blank">ᴀʙᴏᴜᴛ ꜰᴀᴄᴇ ꜱᴛʟ</a>
ʟɪᴄᴇɴꜱᴇᴅ ᴛᴇᴄʜ, ᴏᴘᴇɴ ʙᴏᴏᴋꜱ
<a href="https://www.instagram.com/mo.ticulous/" target="_blank">ꜱʜᴏᴏᴛ ᴀ ᴍᴇꜱꜱᴀɢᴇ</a> ᴛᴏ ᴍᴀᴋᴇ ᴀɴ ᴀᴘᴘᴏɪɴᴛᴍᴇɴᴛ
                
🄽🄰🄸🄻 🅂🄴🅁🅅🄸🄲🄴🅂
<a href="naturalNails.html">ɴᴀᴛᴜʀᴀʟ ɴᴀɪʟꜱ</a>

🅃🄰🅃🅃🄾🄾 🅂🄴🅁🅅🄸🄲🄴🅂
                
<a href="bodyArt.html">ᴛᴀᴛᴛᴏᴏ ꜱᴇʀᴠɪᴄᴇꜱ</a>
<a href="cosmeticTattoos.html">ᴄᴏꜱᴍᴇᴛɪᴄ ᴛᴀᴛᴛᴏᴏꜱ</a>

🄱🄾🄾🄺🄸🄽🄶 🄳🄴🅃🄰🄸🄻🅂
<a href="booking.html">ʜᴏᴡ ᴛᴏ ʙᴏᴏᴋ</a>

🄰🅁🅃 🄲🄾🄼🄼🄸🅂🅂🄸🄾🄽🅂
<a href="gallery.html">ɢᴀʟʟᴇʀʏ</a>
            </pre>

        </header>
        <section>

            {{ content }}

        </section>
        <footer>
<pre>
(っ◔◡◔)っ
</pre>
        </footer>
    </div>
    <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script>
</body>

</html>